@charset 'utf-8';

/* *********************************************************************************************************************************************************************************************
														[ 상품조회 ]
********************************************************************************************************************************************************************************************* */
/* setting */
.inven_search .tit_back .tit_18{display:block;}

/* ------------------------------ [ 검색 ] --------------------------------------------------------------------------------------------------------------------------- */
/* 베스트 상품 */
.custom_wrap .tit_btn_wrap {padding:0 8px;}
.inven_search .best_prdt {padding:24px 24px 0;}
.inven_search .best_prdt .tit {font-weight:bold;}
.inven_search .best_prdt ol {margin-left:-11px; display:flex; flex-wrap:wrap;/*height:93px;*/margin-top:11px;}
.inven_search .best_prdt ol li {font-size:14px; width:calc(50% - 11px);margin:0 0 0 11px;}
.inven_search .best_prdt ol li:nth-child(n+3){margin-top:16px}
.inven_search .best_prdt ol li .rank {color:#FF4121;}

/* 검색결과 */
.inven_search .sub{padding-bottom:0;}
.inven_search .result {padding:24px 16px 0;}
.inven_search .result .tit_16 {margin:0 0 16px 8px;}
.inven_search .result .prd_li {overflow-y:auto; max-height:calc(100vh - 174px);padding-bottom:11px;}
.inven_search .result .prd_li li:first-child {border-top:none; padding-top:0;}
.inven_search .result .prd_li li {border-bottom:none; padding:11px 0;}
.inven_search .result .prd_set {padding:0;}
.inven_search .prd_li .prd_set .flag_c{margin:6px 0 0 0}

/* 결과없음 */
.inven_search .data_none {padding:0; height:calc(100vh - 350px);}

/* 배너 */
.inven_banner{margin:0 16px;border-radius:24px;overflow:hidden;width:calc(100% - 32px);position:relative;}
.inven_banner img{width:100%;display:block;}

/* ------------------------------ [ 상품결과 상세 ] -------------------------------------------------------------------------------------------------------------------------- */

/* setting */
.inven_search .header_wrap .head_search.store {display:block; width:calc(100% - 64px);}
.inven_search .sub_btm_pad .sub {padding-bottom:0;}

/* 상품결과 셀렉트박스 */
.inven_search .pick_store_wrap .form_wrap {padding:20px 16px 0;}
.inven_search .pick_store_wrap .info_area{padding:0 24px;margin-top:11px;}

/* 선택한상품 */
.inven_search .prd_area {display:flex; overflow:hidden; box-sizing:border-box; align-items:center; padding:0 16px; width:100%;position:relative;margin:16px 0 12px;}
.inven_search .prd_area .img_wrap {overflow:hidden;}
.inven_search .prd_area .img_wrap .img {display:flex; overflow:hidden; align-items:center; border:1px solid #eeeeee; border-radius:16px; box-sizing:border-box; position:relative; height:64px; width:64px;}
.inven_search .prd_area .img_wrap .img img {display:block; object-fit:cover; height:100%; width:100%;}
.inven_search .prd_area .prd_wrap {margin-left:16px;}
.inven_search .prd_area .prd_wrap .name {font-size:18px; font-weight:bold;}
.inven_search .prd_area .prd_wrap .price {font-size:14px;}
.inven_search .prd_area .prd_wrap .price strong {font-size:16px;}
.inven_search .prd_area .flag_c {overflow:hidden;margin-top:6px;}
.inven_search .prd_area .flag_c p {float:left; color:#666666; font-size:12px; line-height:1em; position:relative;}
.inven_search .prd_area .flag_c p ~ p {margin-left:10px;}
.inven_search .prd_area .flag_c p ~ p:before {background-color:#aaaaaa; content:""; border-radius:10px; position:absolute; left:-5px; top:50%; margin-top:-1px; height:2px; width:2px;}


/* 재고수량 */
.inven_search .store_info .mty_qty {color:#8059ea;}

/* 재고조회:지도영역 */
.inven_search .pick_map_wrap .map .store_info{bottom:calc(90px + env(safe-area-inset-bottom))}
.inven_search .pick_map_wrap .map{height:calc(100vh - 231px);}
.inven_search .pick_map_wrap.prd_on .map{height:calc(100vh - 323px);}

