@charset 'utf-8';

/* *********************************************************************************************************************************************************************************************
														[ 공통팝업 ]
********************************************************************************************************************************************************************************************* */

/* ------------------------------ [ 사진크게보기 ] ----------------------------------------------------------------------------------------------------------------------------------------- */
.photo_view {background-color:#000000;}
.photo_view .photo_swiper .img_wrap {display:flex; /*height:auto;*/height:100%; max-height:80%; width:100%; margin:0 auto;}
.photo_view .photo_swiper .img_wrap img {/*height:auto;*/width:100%;height:100%;object-fit:contain;}
.photo_view .swiper-container {position: absolute; left:50%; top:50%; height:100%; width:100%; transform:translate(-50%, -50%);}
.photo_view .swiper-wrapper {align-items:center;}
.photo_view .swiper-slide {display:flex; align-items:center;}

/* 페이지 넘버 */
.swiper_wrap .page_num {width:auto; left:50%; bottom:44px; transform:translateX(-50%);}
.swiper_wrap .page_num span {font-family:robo; font-size:14px; color:#fff;}
.swiper-pagination-current.cur_zero:before {content:'0';}
.swiper-pagination-total.tot_zero:before {content:'0';}

/* ------------------------------ [ 사진첨부 ] ------------------------------------------------------------------------------------------------------------------------------------------- */
.btm_btn {min-height:257px;}
.btm_btn_wrap {display:flex; justify-content:space-between;}
.btm_btn_wrap .box_btm_btn {position:relative; display:flex; justify-content:center; align-items:center; flex-direction: column; height:166px; width:100%; background-color:#F6F6F6; border-radius:24px;}
.btm_btn_wrap .box_btm_btn + div {margin-left:11px;}
.btm_btn_wrap .box_btm_btn > a {position:absolute; left:0; top:0; height:100%; width:100%;}
.btm_btn_wrap .box_btm_btn .btm_pick {width:100%; padding-top:8px; margin-top:11px; border-top:1px solid #EEEEEE; box-sizing:border-box; z-index:1;}
.btm_btn_wrap .box_btm_btn .btm_pick a {display:flex; align-items:center; justify-content:center; font-size:13px; font-weight:bold; color:#666;}
.btm_btn_wrap .box_btm_btn .btm_pick .icon_reload {display:block; height:20px; width:20px; display:block; background:url(../images/common/icon_reload_20x20.png) no-repeat; background-size:20px; margin-left:8px;}
.btm_btn_wrap .box_btm_btn .btm_btn_tit {display:block; font-size:18px; font-weight:bold;}
.btm_btn_wrap .box_btm_btn .btm_btn_txt {margin-top:11px; font-size:13px;}
.icon_btm_popup {display:block; overflow:hidden;}
.icon_album_64 {height:64px; width:64px; background:url(../images/common/icon_album_64x64.png) no-repeat center; background-size:64px;}
.icon_camera_64 {height:64px; width:64px; background:url(../images/common/icon_camera_64x64.png) no-repeat center; background-size:64px;}

/* ------------------------------ [ 검색조건 ] ------------------------------------------------------------------------------------------------------------------------------------------- */
.list_fltr {overflow:hidden; padding-top:8px;}
.list_fltr .fltr_set ~ .fltr_set {margin-top:20px; padding-top:20px; border-top:1px dashed #ddd;}
.list_fltr .fltr_set .fltr_tit {font-weight:bold; text-indent:8px;}
.list_fltr .fltr_set .type_btn {flex-wrap:wrap; margin:0;}
.list_fltr .fltr_set .type_btn .form_chk {margin-top:11px;}
.list_fltr .fltr_set .type_btn .form_chk {margin-left:6px;}
.list_fltr .fltr_set .type_btn .form_chk .txt {letter-spacing:-0.56px;}
.list_fltr .fltr_set .form_rdo {margin-left:6px;}
.search_sort .foot {padding-top:22px;}
.list_fltr .rdo_value {position:relative; margin:11px 8px 0;}
.list_fltr .rdo_value .input_radio {justify-content:space-between;}
.list_fltr .rdo_value .input_radio .form_rdo ~ .form_rdo {margin-left:0;}
.list_fltr .rdo_value .line_tot {position:absolute; left:0; top:50%; transform:translateY(-50%); height:2px; width:100%; background-color:#F6F6F6; z-index:-1;}
.list_fltr .rdo_value .line_tot .line_curent {position:absolute; left:0; top:0; height:100%; background-color:#37d243;}
.list_fltr .txt_value {display:flex; justify-content:space-between; margin:11px 8px 0;}
.list_fltr .txt_value span {color:#666666; font-size:13px;}

/* ------------------------------ [ 위치약관동의 ] ------------------------------------------------------------------------------------------------------------------------------------------- */
.loc_agree .cotn .tit_22 {font-size:22px; letter-spacing:-0.88px; text-align:left;}
.loc_agree .cotn .sub_txt {margin-top:20px; font-size:14px; font-weight:normal; line-height:1.250em; letter-spacing:-0.28px; text-align:left;}
.loc_agree .link_info {position:relative; margin-top:24px; padding:0; height:34px; border-bottom:1px solid #f6f6f6;}
.loc_agree .link_info .tit_14 {font-size:14px; letter-spacing:-0.56px; text-align:left;}
.loc_agree .link_info .go_view .arrow_gray_right {position:absolute; top:0; right:0;}

/* ------------------------------ [ 공유하기 ] ------------------------------------------------------------------------------------------------------------------------------------------- */
.btm_share .share_wrap .tit_16 {padding:8px 0 0 8px;}
.btm_share .shr_method {display:flex; justify-content:center; margin-top:16px;}
.btm_share .shr_method .sharing {position:relative;}
.btm_share .shr_method .sharing + .sharing {margin-left:20px;}
.btm_share .shr_method .sharing .tit_share {font-size:12px; margin-top:11px; text-align:center;}
.btm_share .shr_method .sharing .icon_shr {display:block; height:60px; width:60px;}
.btm_share .shr_method .sharing .icon_shr.shr_kakao {background:url(../images/common/icon_shr_kakao.png) no-repeat center; background-size:60px;}
.btm_share .shr_method .sharing .icon_shr.shr_fb {background:url(../images/common/icon_shr_fb.png) no-repeat center; background-size:60px;}
.btm_share .shr_method .sharing .icon_shr.shr_twtr {background:url(../images/common/icon_shr_twtr.png) no-repeat center; background-size:60px;}